 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Your Fantasy Translations is a fanmade translation group, bringing to you, your favourite fanfictions and novels.</p>
                </div>
                <div class="col-lg-4">
                    <p>We depend on our Ko-Fi shop to make this process sustainable and fun. You can join our community through Discord. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://discord.gg/QCKSSAXFXm/" class="btn btn-lg btn-outline">
                        <i class="fab fa-discord"></i> Join Discord
                    </a>
                </div>
            </div>
        </div>
    </section>
